#messengerHeader {
    height: auto;
    border: 1px solid #ddd;
}
#messageArea {
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
}
#sendingArea {
    border: 1px solid #ddd;
}
#input {
    width: 100%;
}
#buttonArea {
    border: 0px solid #ddd;
    position: relative;
    justify-items: end;
}
#send-button{
    width: fit-content;
}
h1{
    position: relative;
    left: 50%
}